.grid {
    display: grid;
    margin-left: 20%;
    user-select: none;
    border: 2px solid black;
}
#field1 {
    margin-top: 20px;
}
#field2 {
    margin-top: 20px;
}
.cell {
    width: 30px;
    height: 30px;
    background-color: lightgray;
    border: 1px solid #777777;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cell span {
    font-size: 24px;
    font-weight: 900;
    cursor: pointer;
}
.cell span.cell1 {
    color: #2943d6;
}
.cell span.cell2 {
    color: #0a7500;
}
.cell span.cell3 {
    color: #e01515;
}
.cell span.cell4 {
    color: #0b0078;
}
.cell span.cell5 {
    color: #800d00;
}
.cell span.cell6{
    color: #337675;
}
.cell span.cell7{
    color: #000000;
}
.cell span.cell8 {
    color: #777777;
}
.cell:has(span.cellC, span.cellF) {
    background-color: #c5c4c4;
    border-left: 4px solid #efefef;
    border-top: 4px solid #efefef;
    border-bottom: 4px solid #8d8d8d;
    border-right: 4px solid #8d8d8d;
}