@font-face {
    font-family: 'Minesweeper';
    src: url('/mine-prob/fonts/mine-sweeper.otf');
}
.grid {
    display: grid;
    user-select: none;
    margin: 20px;
    border-right: 1px solid #808080;
    border-bottom: 1px solid #808080;
}
.cell {
    width: 25px;
    height: 25px;
    background-color: #c6c6c6;
    border: 1px solid #808080;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cell span {
    font-family: 'Minesweeper';
    font-size: 15px;
    font-weight: 500;
    padding-left: 1px;
}
.cell span.cell1 {
    color: #0000f7;
}
.cell span.cell2 {
    color: #007700;
}
.cell span.cell3 {
    color: #ec0000;
}
.cell span.cell4 {
    color: #000080;
}
.cell span.cell5 {
    color: #800000;
}
.cell span.cell6{
    color: #337675;
}
.cell span.cell7{
    color: #000000;
}
.cell span.cell8 {
    color: #777777;
}
.cell span.cell9, span.cell10, span.cellprob {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    padding-right: 1px;
    padding-top: 1px;
}
.cell:has(span.cell10) {
    background-image: url('/mine-prob/image/flagicon.svg');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
}
.cell:has(span.cell9, span.cell10, span.cellprob) {
    background-color: #c6c6c6;
    border-left: 3px solid #ffffff;
    border-top: 3px solid #ffffff;
    border-bottom: 3px solid #808080;
    border-right: 3px solid #808080;
}
.cell span.cellprob {
    color: rgb(54, 54, 54);
    font-weight: 700;
    font-size: 12px;
}
.cell:has(span.zeroprob) {
    background-color: #4eff89;
}
.cell span.flprob {
    color: #888888;
}
.cell span.lowprob {
    color: #557700;
}
.cell span.medprob {
    color: #aa5500;
}
.cell span.highprob {
    color: #dd0000;
}
.cell:has(span.mineprob) {
    background-color: #ff5656;
}