.grid {
    display: grid;
    margin-left: 20%;
    user-select: none;
    border: 2px solid black;
}
#field1 {
    margin-top: 20px;
}
#field2 {
    margin-top: 20px;
}
.cell {
    width: 30px;
    height: 30px;
    background-color: #c6c6c6;
    border: 1px solid #808080;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cell span {
    font-size: 24px;
    font-weight: 900;
}
.cell span.cell1 {
    color: #0000f7;
}
.cell span.cell2 {
    color: #007700;
}
.cell span.cell3 {
    color: #ec0000;
}
.cell span.cell4 {
    color: #000080;
}
.cell span.cell5 {
    color: #800000;
}
.cell span.cell6{
    color: #337675;
}
.cell span.cell7{
    color: #000000;
}
.cell span.cell8 {
    color: #777777;
}
.cell:has(span.cellC, span.cellF) {
    background-color: #c6c6c6;
    border-left: 4px solid #ffffff;
    border-top: 4px solid #ffffff;
    border-bottom: 4px solid #808080;
    border-right: 4px solid #808080;
}
.cell:has(span.redcell){
    background-color: #ff3030;
}