.probCalc {
    display: flex;
    flex-direction: column;
    font-size: medium;
}
.pasteItems, .fieldItems {
    margin-left: 40px;
    margin-top: 12px;
    display: flex;
    flex-direction: row;
}
.button {
    width: 60px;
    background-color: rgb(92, 202, 114);
    border: 3px solid rgb(14, 167, 0);
    color: black;
    margin-right: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}
.pasteItems input {
    width: 170px;
    margin-right: 5px;
}
.fieldItems input {
    width: 50px;
    margin-right: 5px;
}
.button:active {
    border-color: white;
    background-color: rgb(215, 255, 223);
}
#warning {
    margin-top: 10px;
    margin-left: 20px;
}